.hide{
    display: none;
}
.new-version-toast{
    padding:10px 15px;
    border-radius: 8px;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    bottom:30px;
    right:30px;
    color:#fff;
    cursor: pointer;
}